body {
    background-color: #E3DCC2;
}

.home__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grind-template-areas:
    'ImageHeader'
    'filterSearch'
    'all-spots__container'
    ;
    /* justify-content: center; */
}

.ImageHeader {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 80px 150px;
    height: 260px;
}

.filterSearch {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 25px 150px;
    padding-top: 0;
}

.all-spots__container {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    border-radius: 15px;
    margin: 0px 150px;
}
