img {
    height: 200px;
}

.img__container {
    border: 1px solid black;
}

.property__container {
    border: 1px solid black;
}

.datePicker {
    width: 60px;
    margin-left: 4px;
    margin-bottom: 4px;
}
