.user__container {
    padding: .5rem;
}

.password__container {
    padding: .5rem;
}

.submit__container {
    padding: .5rem;
}

.submit-btn {
    padding: .25rem;
}

.login-form {
    justify-self: center;
    width: 14rem;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 2rem;
    padding-top: 15px;
    padding-bottom: 1.5rem;
    background-color:white;
}

.form__container {
    height: 235px;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.User-tag {
    font-weight: bold;
}

.password-tag {
    font-weight: bold;
}

.splash-page {
    height: 100%;
    background-image: url('https://relobnb.s3.us-east-2.amazonaws.com/relonewseeddata/SplashPageAWS.jpg');
    background-size: cover;
}

.demo-user {
    padding: .5rem;
}

.demo-user-btn {
    padding: .25rem;
}

.Logo-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.logo {
    font-size: 190px;
    font-weight: bold;
    font-family: Jura;
    align-self: flex-start;
    grid-column: 1/12;
    grid-row: 1/3;
    color: rgba(240, 234, 215);
    text-shadow: 2px 2px #000000;
}

.slogan {
    font-size: 40px;
    font-weight: bold;
    font-family: Jura;
    align-self: flex-end;
    grid-column: 4/10;
    grid-row: 3/5;
}

.sign-up-slogan {
    font-size: 40px;
    font-weight: bold;
    font-family: Jura;
    align-self: flex-end;
    grid-column: 4/10;
    grid-row: 2/4;
}
