.form__container {
    height: max-content;
}

.form-input {
    padding: 3px;
}

.login-form {
    background-color: rgba(240, 234, 215, 0.8);
    height: fit-content;
}

.submit-sign-up {
    margin: 3px;
    margin-top: 15px;
}

.sign-up-slogan {
    font-size: 40px;
    font-weight: bold;
    font-family: Jura;
    align-self: flex-start;
    grid-column: 4/10;
    grid-row: 3/5;
}

.sign-up-page {
    height: 100%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')
}
